/* Created by: Lily C
* Created on: 03/23/2023
* This CSS file defines the style for index.html
* Assign-02-HTML-Calculations
*/

body {
  background-color: lightsteelblue;
}

h1 {
  background-color: #71a88e;
  color: hsl(34deg 55% 71%);
  padding: 40px;
  text-align: center;
}

h3 {
  background-color: #debb8c;
  color: #3d7156;
}

div {
  font-weight: lighter;
  color: #debb8c
  margin: 5px;
}

#display-results {
  background-color: #3d7156;
}
